@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: url("https://t4.ftcdn.net/jpg/06/05/09/13/360_F_605091366_qVNTuax79o943n9jwgcF2NLfl43qneIJ.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.about {
    max-width: 800px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'VT323', monospace;
}

h1 {
    font-family: 'VT323', monospace;
    line-height: 1.5;
    margin-bottom: 0.5em;
    text-align: center;
    
}

p {
    font-family: 'VT323', monospace;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.5em;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5); 
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 15px;
}

.nav-item a {
    color: rgb(137, 110, 255);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    transition: on hover;
    font-size: 16px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 1.5em;
}

.nav-item a:hover {
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.portfolio {
    max-width: 800px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'VT323', monospace;
}

.portfolio-p {
    text-align: center;
}

a {
    font-size: 2em;
    line-height: 1.5;
    text-decoration: none;
    padding: 12px 16px;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.linkedin {
    margin-bottom: 50px;
}

.repos {
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.contact {
    max-width: 800px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.contact label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    box-sizing: border-box;
}

.contact textarea {
    resize: vertical;
    margin-bottom: 40px;
}

.contact button.submit-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(137, 110, 255, 0.7); /* Soft violet color */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.contact button.submit-button:hover {
    background-color: rgba(137, 110, 255, 1.0);
}

.contact button.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(137, 110, 255, 1.0);
}