@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://i.imgur.com/4Z49On2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.about {
    width: 80vw;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Zen Dots', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p, h1, h2, h3 {
    text-align: center;
}

.about h1 {
    margin-top: 2.5%;
}

h1 {
    font-family: 'Zen Dots', sans-serif;
    line-height: 1.5;
    margin-bottom: 0.5em;
    text-align: center;
    
}

p {
    font-family: 'Pixelify Sans', sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.5em;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5); 
    overflow-x: hidden;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 15px;
}

.nav-item a {
    color: rgb(137, 110, 255);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    transition: on hover;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5em;
}

.nav-item a:hover {
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.portfolio {
    width: 80vw;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portfolio-p {
    text-align: center;
}

.blogs-p {
    text-align: center;
}

a {
    font-size: 2em;
    line-height: 1.5;
    text-decoration: none;
    padding: 12px 16px;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.linkedin {
    margin-bottom: 50px;
}

.repos {
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.blogs {
    list-style: none;
    text-align: center;
    align-items: center;
    padding: 0;
}

.bloglist {
    width: 80vw;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contact {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact p, h1 {
    text-align: center;
    width: 75%;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.about-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    box-sizing: border-box;
}

.contact textarea {
    resize: vertical;
    margin-bottom: 40px;
}

.contact button.submit-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(137, 110, 255, 0.7); /* Soft violet color */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.contact button.submit-button:hover {
    background-color: rgba(137, 110, 255, 1.0);
}

.contact button.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(137, 110, 255, 1.0);
}

.contact-logo img {
    width: 50%;
}

.contact-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    margin: 2.5%;
    width: 75%;
}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.tier-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tier-and-price h1 {
    margin: auto;
    flex-grow: 1;
    text-align: center;
}

.details {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basic, .plus, .elite {
    margin-bottom: 10%;
    background-color: rgb(255, 255, 255, 0.5);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    width: 100%;
}

.basic {
    margin-top: 10%;
}

.pricing-intro {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 5%;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloglist-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        padding: 5px 10px;
    }

    .nav-item {
        font-size: 14px;
        margin: 0 5px;
    }
}