@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://i.imgur.com/4Z49On2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.about {
    width: 80vw;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1, h2, h3 {
    text-align: center;
    width: 80%;
}

.about p {
    text-align: justify;
    width: 80%;
}

.about h1 {
    margin-top: 2.5%;
    text-decoration: underline;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.5;
    margin-bottom: 0.5em;
    text-align: center;
    
}

p {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.25em;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5); 
    overflow-x: hidden;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 15px;
}

.nav-item a {
    color: rgb(137, 110, 255);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    transition: on hover;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
}

.nav-item a:hover {
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.portfolio {
    width: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    text-decoration: underline;
    width: 80%;
}

.portfolio-p {
    text-align: center;
    width: 80%;
}

.portfolio a {
    font-size: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio ul {
    width: 80%;
}

.blogs-p {
    text-align: center;
}

a {
    font-size: 2em;
    line-height: 1.5;
    text-decoration: none;
    padding: 12px 16px;
}

a:hover {
    text-decoration: underline;
    background-color: rgba(137, 110, 255, 0.3);
    color: black;
}

.linkedin {
    margin-bottom: 50px;
}

.repos {
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.blogs {
    list-style: none;
    text-align: center;
    align-items: center;
    padding: 0;
}

.bloglist {
    width: 80%;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloglist a {
    font-size: 1.75em;
    width: 90%;
}

.bloglist ul {
    width: 90%;
}

.bloglist h1, .bloglist p {
    width: 90%;
}

.bloglist h1 {
    text-decoration: underline;
}

.contact {
    width: 80%;
    height: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact p, h1 {
    text-align: center;
    width: 75%;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.about-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    box-sizing: border-box;
}

.contact textarea {
    resize: vertical;
    margin-bottom: 40px;
}

.contact button.submit-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(137, 110, 255, 0.7); /* Soft violet color */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.contact button.submit-button:hover {
    background-color: rgba(137, 110, 255, 1.0);
}

.contact button.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(137, 110, 255, 1.0);
}

.contact-logo img {
    width: 50%;
}

.contact-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    margin: 2.5%;
    width: 75%;
}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
}

.tier-and-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.details {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15%;

}

.basic, .plus, .elite {
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}

.basic {
    margin-top: 10%;
}

.pricing-intro {
    padding: 5%;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

.pricing-intro p, .pricing-intro h1 {
    width: 80%;
}

.pricing-intro h1 {
    text-decoration: underline;
    margin-bottom: 5%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloglist-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    p {
        text-align: justify;
        font-size: 1em;
        word-wrap: break-word;
        white-space: normal;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: stretch;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-item {
        padding: 10px 0;
    }

    .nav-item a {
        padding: 10px;
    }

    .navbar {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .nav-toggle {
        margin: auto;
        width: 95%;
        padding: 5%;
        display: block;
        justify-content: space-around;
        align-self: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(137, 110, 255);
        border: none;
        transition: background-color 0.3s;
        transition: on hover;
        font-weight: bold;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.5em;
        
    }
    
    .nav-toggle:hover {
        background-color: rgba(137, 110, 255, 0.3);
        color: black;
    }

    .about, .portfolio, .bloglist, .contact {
        width: 80%;
        padding: 5%;
    }

    .pricing-intro , .basic, .plus, .elite {
        width: 80%;
        padding: 5%;
    }

    .additional-services {
        width: 90%;
        padding: 5%;
    }

    .pricing-intro p, .basic p, .plus p, .elite p, .additional-services .details, .pricing-intro h1, .basic h1, .plus h1, .elite h1, .additional-services h1, .pricing-intro h2, .basic h2, .plus h2, .elite h2, .additional-services h2, 
    .pricing-intro h3, .basic h3, .plus h3, .elite h3, .additional-services h3 {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    .pricing-intro {
        margin-top: 50%;
    }

    .pricing-intro p {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .additional-services {
        margin-bottom: 30%;
    }

    li {
        width: auto;
    }

    .pricing-intro h1, .pre-booking-discount h1, .basic h1, .plus h1, .elite h1, .additional-services h1 {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .pricing, .discount {
        font-size: .75em;
        font-family: 'Orbitron', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.header-li {
    font-size: 1.25em;
    font-weight: 600;
}

.discount {
    font-size: 1.25em;
    text-decoration: none;
}

.tier {
    text-decoration: underline;
    font-size: 2.5em;
}

.pricing {
    font-weight: 600;
    font-size: 1.25em;
}

.additional-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 5%
}

.additional-services li {
    font-family: 'Orbitron', sans-serif;
    line-height: 2.0;
    text-align: left;
    width: 75%;
}

.additional-services ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.additional-services .details {
    margin-top: 5%;
}

.additional-services .last-li {
    margin-bottom: 5%;
}

.additional-services h1 {
    margin-top: 5%;
    text-decoration: underline;
    width: 75%;
}

.pre-booking-discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 10%;
    border-radius: 10px;
    padding: 5%
}

.pre-booking-discount h1, .pre-booking-discount p {
    width: 80%;
}

.discount-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.pre-booking-title {
    text-decoration: underline;
}

.discount-titles h1 {
    width: 80%;
}

.pre-booking-discount p {
    width: 90%;
}

.company-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}